Flask==3.1.2
Flask-CORS==6.0.2
python-dotenv==1.2.1
google-genai==1.62.0
openai>=1.0.0
pymongo==4.16.0
cloudinary==1.44.1
line-bot-sdk==3.22.0
requests==2.32.5
gunicorn==25.0.1
Werkzeug==3.1.5
pytz==2025.2
bcrypt==5.0.0
pymupdf==1.26.7